@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.text_title {
  @apply text-2xl font-semibold text-black;
}
.text_section {
  @apply text-xl font-semibold text-black;
}
.link_blue {
  @apply text-base text-blue-500 hover:text-blue-700 mx-3;
}
.card {
  @apply rounded-lg shadow-2xl p-5;
}
.img_profile {
  @apply rounded-full object-cover;
}
.container_flex {
  @apply flex justify-center items-center;
}
.container_grid4 {
  @apply grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}
.container_grid3 {
  @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5;
}
.icon_profile {
  @apply text-4xl p-1 bg-black text-white rounded-full;
}
.ul_list {
  @apply flex flex-col gap-2 overflow-y-scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
